li {color: black;}
h1{ 
  background-color: grey;
  font: size 45px; px;
  border-color: grey;
  border-bottom: 5px;
   }
   body{
    background-image: url("https://th.bing.com/th/id/R.61efa479aa9a3c16bca272ff0c9944ad?rik=S6FUQPpEIEjjmA&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-size: cover;
   }
   li {
    font-size: 20px;
   }
   h4{
    font-size: 27px;
   }